code {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #EEE;
}

pre {
  margin: 1.5rem 0.5rem 3rem;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid #BBB;
  background-color: #EEE;
}

pre span {
  padding: 0.2rem 2rem;
  position: relative;
  top: -1.2rem;
  left: -1rem;
  background-color: #047DD1;
  border-radius: 0.7rem 0 0 0;
  font-weight: bold;
  font-size: 1.15em;
  color: #FFF;
}