header.header
  h1.header__logo 
    a(href="/") Learning - January 2019: Javascript, Getting Started
  nav.header__navigation
    a(href="basics.html") Basics
    a(href="types-and-arrays.html") Types and Arrays
    a(href="program-flow.html") Program Flow
    a(href="functions.html") Functions
    a(href="#") Objects
    a(href="#") Web - Basic Events
    a(href="#") Web - DOM Interactions