extends layouts/default.pug

block content
  main.content-page
    h3.content-page__title Javascript Basics
    h4.content-page__title Content Covered

    ul.content-page__list
      li Storing information in variables
      li Variable errors
      li String and numeric variables
      li Simple operators
      li Comments