extends layouts/default.pug

block content
  main.content-page
    h3.content-page__title Functions
    h4.content-page__title Content Covered

    ul.content-page__list
      li 
        a(href="#first") Functions basics
      li 
        a(href="#second") Passing Information to Functions
      li 
        a(href="#third") Function Return Values
      li 
        a(href="#fourth") Function Scope

    hr

    h3.content-page__title#first Functions basics

    h3.content-page__title#second Passing Information to Functions

    h3.content-page__title#third Function Return Values

    h3.content-page__title#fourth Function Scope