extends layouts/default.pug

block content
  main.content-page
    h3.content-page__title Objects
    h4.content-page__title Content Covered

    ul.content-page__list
      li 
        a(href="#first") Conditionals with if
      li 
        a(href="#second") if ... else
      li 
        a(href="#third") switch and case
      li 
        a(href="#fourth") Looping with for
      li 
        a(href="#fifth") Looping with while

    hr

    h3.content-page__title#first Conditionals with if
   

    h3.content-page__title.new-section#second if ... else
    

    h3.content-page__title.new-section#third switch and case
   

    h3.content-page__title.new-section#fourth Looping with for
    

    h3.content-page__title.new-section#fifth Looping with while

    