extends layouts/default.pug

block content
  main.content-page
    h3.content-page__title Web Development - Events

    hr

    .web-test

      h4#title Blackjack!
      
      p#text-area Welcome to the game!

      button#new-game New Game
      button#hit-button Hit!
      button#stay-button Stay


  script(src="scripts/web.js")