// COMPONENTS
.web-test {
  h4 {
    margin: 1rem 0;
  }

  p {
    margin: 0.5rem 0;
  }

  button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: $primary-color;
    color: $color-white;
    border: 0px;
    font-size: 1.5rem;
    cursor: pointer;

    transition: all 0.2s ease-out;

    &:hover {
      background-color: darken($primary-color, 15%);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px #999;
    }
  }
}