.footer {
  margin-top: 2rem;
  padding: 4rem 0 4rem;
  background-color: darken($secondary-color, 2%);

  &__text {
    color: $color-white;
    font: {
      size: 1.7rem;
      weight: medium;
    }
    text-align: center;
  }
}